{% extends 'Core/snippets/base.html' %}
{% load shortcut %}
{% load crispy_forms_tags %}
{% block header %}
{% include 'Core/snippets/header.html' %}
{% endblock %}

{% block jscss %}
<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
{% endblock %}

{% block style %}
#div_id_anwser label{
    display:none;
} 
.slider {
    position: fixed;
    width: 100%;

    height: 55%;
  
    border-top:1px solid rgb(0,0,0,0.05);
    bottom:0;
    overflow: hidden;
    background-color:#fff;
    box-shadow:2px 2px 10px rgb(0,0,0,0.2);
    transition: all 1s;
    overflow-y:scroll;
  }
  
  .slider.close {
   bottom:0;
    height: 0;
  }

  .slider1 {
    position: fixed;
    width: 30%;

    height: 100%;
  
    border-top:1px solid rgb(0,0,0,0.05);
    bottom:0;
    right:0;
    overflow: hidden;
    background-color:#fff;
    box-shadow:2px 2px 10px rgb(0,0,0,0.2);
    transition: all 1s;
    overflow-y:scroll;
  }
  
  .slider1.close1 {
   bottom:0;
    width:0;
  }
.blinking{
    animation: example 5s linear;
}
@keyframes example {
    0%   {background-color:#E1A3B9;}
    25%  {background-color:#EEEEEE;}
    50%  {background-color:#E1A3B9;}
    75%  {background-color:#EEEEEE;}
    100% {background-color:#E1A3B9;}
  }
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">






        <div class="col-12 mt-5 pt-3">
            <div class="card shadow-sm border-0">
                <div class="card-header border-0 p-2">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="/discuss/?method={{method}}" class="btn btn-sm text-muted border-right"><i class="fa fa1 fa-angle-left mr-1"></i> Back</a>
                        </div>
                        <div class="d-flex align-items-center">
                           
                            <a   onclick="like1('discuss','{{data.id}}','discuss_like','like_count','dislike_count','discuss_dislike')" class="btn btn-sm text-muted pr-1 ml-2   " title="Upvote" data-toggle="tooltip"><i id="discuss_like" class="fa {% if like %} fa3{% else %}fa2 {% endif %} fa-thumbs-up"  style=""></i></a> <span class="text-muted " style="font-size: 14px;" id="like_count">{{data.like.all.count}}</span>
                            <a  onclick="dislike1('discuss','{{data.id}}','discuss_dislike','dislike_count','like_count','discuss_like')" class="btn btn-sm text-muted ml-3 pr-1" title="Downvote" data-toggle="tooltip"><i id="discuss_dislike" class="fa {% if dislike %} fa3{%else%}fa2 {% endif %} fa-thumbs-down"></i></a><span class="text-muted " style="font-size: 14px;" id="dislike_count">{{data.dislike.all.count}}</span>
                           
                            <a onclick="follow('{{data.user}}','discuss_follow')" class="btn btn-sm text-muted ml-3" title="Follow" data-toggle="tooltip"> <i id="discuss_follow" class="fa {% if request.user in data.user.profile.following.all %}fa3{%else%}fa2{%endif%} fa-user-plus"></i></a>
                            <a onclick = "bookmark('discuss','{{data.id}}','bookmark_id')"class="btn btn-sm text-muted mt-1 ml-2" title="Bookmark" data-toggle="tooltip"><i class="fa {% if data in request.user.profile.quora_discuss.all %}fa3 {%else%}fa2 {%endif%} fa-bookmark" id='bookmark_id'></i></a>
                            <span title="Share" data-toggle="tooltip">
                                <a class="btn btn-sm text-muted ml-2"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-square-o mt-2"></i></a>
                                
                                    <div class="dropdown-menu dropdown-menu-right pl-1 pr-1" aria-labelledby="dropdownMenuLink" style="width:200px;">
                                        <input id="shareinput1" value="{{request.build_absolute_uri}}" type="text" class="form-control mr-4 mb-2" style="width:100%;">
                                        <div class=" d-flex justify-content-center align-items-center">
                                            <a href="#" id="share-fb" class="sharer button ml-2"><i class="fa fa-2x fa-facebook-square"></i></a>
                                            <a href="#" id="share-tw" class="sharer button ml-2"><i class="fa fa-2x fa-twitter-square"></i></a>
                                            <a href="#" id="share-li" class="sharer button ml-2"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                    
                                            <a href="#" id="share-em" class="sharer button ml-2"><i class="fa fa-2x fa-envelope-square"></i></a>
                                           
                                            <a href="#" id="share-copy" class="btn btn-sm " style="" onclick="copyToClipboard('shareinput1')"><i class="fa fa-2x fa-clone"></i></a>
                                         
                                        </div>
                                        
                                    </div>
                            </span>
                            <a class="btn btn-sm text-muted mt-1 ml-2" title="Report" data-toggle="tooltip"><i class="fa  fa-exclamation-triangle"></i></a>

                        </div>
                    </div>
                </div>
                <div class="card-body pl-5 pr-5">
                    <div style="position: absolute; left:1rem;">
                        <img src="/media/{{data.user.profile.avatar}}" style="width:35px; height:35px; border-radius:50%;">
                    </div>
                    <div class="pl-4">
                        {% if method != 'General' %}
                        <h5 class=" text-dark mt-1">
                            {% if data.pinned %}
                            <i class="fa fa-thumb-tack" style="color:#C42D63"></i>
                            {% endif %}
                            {{data.title2}}
                        </h5>
                        <div class="text-muted d-flex justify-content-start pt-3" style="font-size: 12px;">
                            <p class="">Posted By {% if data.anonymous %}<span class="text-dark" style="font-weight: 600;">Anonymous User</span> {%else%} <a href="/profile/{{data.user}}/">{{data.user.profile.first_name}} {{data.user.profile.last_name}}</a>{% endif %} , {{data.created}} </p>
                            {% if not data.anonymous %}
                            <span class="ml-5"><i class="fa fa-user-plus fa2"></i> {{data.user.profile.following.all.count}} Followers</span>
                            {% endif %}
                            <span class="ml-5"><i class="fa fa-street-view"></i> 235K Views</span>
                            <a class="trigger1"><span class="ml-5"><i class="fa fa-comment fa2"></i> {{data.quora_comment.all.count}} Comments</span></a>
                        </div>
                        {% else %}
                        <button class="btn btn-sm shadow-sm trigger text-white" style="position: absolute; right:1rem; background-color: #C42D63; font-size:12px;">
                            <i class="fa fa-plus"></i> Start Thread
                        </button>
                        <div class="text-muted d-flex justify-content-start pt-2" style="font-size: 12px;">
                            {% if data.pinned %}
                                <i class="fa fa-thumb-tack mt-1 mr-2" style="color:#C42D63; font-size:14px; "></i>
                            {% endif %}
                            <p class="">Posted By {% if data.anonymous %}<span class="text-dark" style="font-weight: 600;">Anonymous User</span> {%else%} <a href="/profile/{{data.user}}/">{{data.user.profile.first_name}} {{data.user.profile.last_name}}</a>{% endif %} , {{data.created}} </p>
                            {% if not data.anonymous %}
                            <span class="ml-5"><i class="fa fa-user-plus fa2"></i> {{data.user.profile.following.all.count}} Followers</span>
                            {% endif %}
                            <span class="ml-5"><i class="fa fa-street-view"></i> 235K Views</span>
                            
                            <span class="ml-5"><i class="fa fa-list"></i> {{data.Quora_anwsers.all.count}} Threads</span>
                        </div>
                        <div class="mt-2">
                            
                              <center> {{data.title|safe}}</center> 
                            
                        </div>
                       
                        {% endif %}
                        
                    </div>
                    <div class="pl-4 pt-3" style="font-size: 14px;">
                        {% if method != 'General' %}
                        {{data.title|safe}}
                        {% else %}

                        {% endif %}
                    </div>
                    <div class="pl-4">
                        {% if method != 'General' %}
                        {% for i in data.tags|remove %}
                        {% if i %}
                        <a class="btn btn-sm btn-outline-dark pt-1 pb-1" href="/discuss/?method={{method}}&tags={{i}}" style="font-size:10px;">{{i}}</a>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="card-footer border-0">
                    {% if method == 'General' %}
                    
                    <div style="">
                        {% for x in data.Quora_anwsers.all %}
                            <div id=""class="mb-2 border-bottom">
                                <div  class="d-flex justify-content-between">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div>
                                        <img src="/media/{{x.user.profile.avatar}}" style="width:35px; height:35px; border-radius:50%;">
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p style="font-size:12px;" class="text-muted ml-3 pt-3">Anwsered By {% if x.anonymous %}<span style="font-size: 12px; font-weight: 600;" class="text-dark"> Anonymous User</span> {%else%}<a href="/profile/{{x.user}}">{{x.user.profile.first_name}} {{x.user.profile.last_name}}</a>{%endif%}, {{x.created}}</p>
                                        <a style="font-size: 12px;" class="ml-4"><i class=" fa fa-comment fa2"></i></a><span style="font-size: 12px;" class="text-muted ml-1"> {{x.Anwser_comment.all.count }} Comments</span>
                                    </div>
                                </div>
                                <div>
                                    <a onclick="like1('discussanwser','{{x.id}}','discuss_like_anwser{{x.id}}','like_count_anwser{{x.id}}','dislike_count_anwser{{x.id}}','discuss_dislike_anwser{{x.id}}')" class="btn btn-sm text-muted pr-1 ml-2   " title="Upvote" data-toggle="tooltip"><i id="discuss_like_anwser{{x.id}}" class="fa {% if request.user in x.like.all %} fa3{% else %}fa2 {% endif %} fa-thumbs-up"  style=""></i></a> <span class="text-muted " style="font-size: 14px;" id="like_count_anwser{{x.id}}">{{x.like.all.count}}</span>
                                    <a onclick="dislike1('discussanwser','{{x.id}}','discuss_dislike_anwser{{x.id}}','dislike_count_anwser{{x.id}}','like_count_anwser{{x.id}}','discuss_like_anwser{{x.id}}')" class="btn btn-sm text-muted ml-3 pr-1" title="Downvote" data-toggle="tooltip"><i id="discuss_dislike_anwser{{x.id}}" class="fa {% if request.user in x.dislike.all %} fa3{%else%}fa2 {% endif %} fa-thumbs-down"></i></a><span class="text-muted " style="font-size: 14px;" id="dislike_count_anwser{{x.id}}">{{x.dislike.all.count}}</span>
                                    <a class="rounded-circle pl-3 pr-3" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>

                            <div style="font-size: 14px;" class="ml-5 mr-5">
                                {{x.anwser|safe}}
                            </div>

                            <div class="pl-5 mb-3">
                                <div style="" class="d-flex justify-content-start">
                                    <div>
                                        <a class="btn btn-sm border rounded-circle d-flex align-items-center justify-content-center text-white" style="width: 35px; height:35px; background-color:#546E7A">{{request.user.username|first|upper}}</a>
                                    </div>
                                    <div style="width: 90%;">
                                        <input id="commentform{{x.id}}" type="text" class="form-control ml-2 " style=" font-size:12px; width: 100%; border-top-left-radius: 20px; border-bottom-left-radius:20px;">
                                    </div>
                                    <div>
                                        <button onclick="CommentSubmit('discuss','{{method}}','comment','{{data.id}}','{{x.id}}','commentarea{{x.id}}')" class="btn  border ml-3 pt-2 pb-2" style="background-color: #C42D63; color:white; font-size: 12px;  border-top-right-radius: 20px; border-bottom-right-radius:20px;">  <i class="fa fa-paper-plane"></i> Post</button>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="ml-5 mt-3" id="commentarea{{x.id}}">
                                {% for i in x.Anwser_comment.all %}
                                    {% if i.is_parent %}
                                    <div  style="background-color: #EEE; border-radius: 12px; margin-bottom:10px; padding:10px; padding-right:15px;" class="">
                                       <div id="reference{{i.id}}" class="p-2 rounded">
                                        <div  class="d-flex justify-content-between" >
                                            <div class=' d-flex justify-content-start align-items-center'>
                                                <div>
                                                    <img src="/media/{{i.user.profile.avatar}}/" style="width:35px; height:35px; border-radius:50%;">
                                           
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <p style="font-size:12px;" class="text-muted ml-3 pt-3">Comment By <a href="/profile/{{i.user}}/">{{i.user.profile.first_name}} {{i.user.profile.last_name}}</a>, {{i.created}}</p>
                                                    <a style="font-size: 12px;" class="ml-4"><i class=" fa fa-comment fa2"></i></a><span style="font-size: 12px;" class="text-muted ml-1"> {{i.replies_name.all.count}} Replies</span>
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                <a onclick="like1('discusscomment','{{i.id}}','discuss_like_comment{{i.id}}','like_count_comment{{i.id}}','dislike_count_comment{{i.id}}','discuss_dislike_comment{{i.id}}')" class="btn btn-sm text-muted pr-1 ml-2   " title="Upvote" data-toggle="tooltip"><i id="discuss_like_comment{{i.id}}" class="fa {% if request.user in i.like.all %} fa3{% else %}fa2 {% endif %} fa-thumbs-up"  style=""></i></a> <span class="text-muted " style="font-size: 14px;" id="like_count_comment{{i.id}}">{{i.like.all.count}}</span>
                                                <a onclick="dislike1('discusscomment','{{i.id}}','discuss_dislike_comment{{i.id}}','dislike_count_comment{{i.id}}','like_count_comment{{i.id}}','discuss_like_comment{{i.id}}')" class="btn btn-sm text-muted ml-3 pr-1" title="Downvote" data-toggle="tooltip"><i id="discuss_dislike_comment{{i.id}}" class="fa {% if request.user in i.dislike.all %} fa3{%else%}fa2 {% endif %} fa-thumbs-down"></i></a><span class="text-muted " style="font-size: 14px;" id="dislike_count_comment{{i.id}}">{{i.dislike.all.count}}</span>
                                               
                                            </div>
                                            </div>
                                            <div class="ml-5 p-0" style="margin-top:-10px; ">
                                                <div style="font-size: 12px;" class="ml-1">
                                                    {{i.body|safe}}
                                                    </div>
                                                    <div style="color:#C42D63" class="mt-1">
                                                        <a data-toggle="collapse" href="#collapseExamplereply{{i.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-reply"></i> Reply</a>
                                                        <a class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-share-alt"></i> Share</a>
                                                        <a class="btn btn-sm border" style="font-size: 10px;" title="Report" data-toggle="tooltip"> <i class="fa fa-exclamation-triangle"></i> </a>
                                                    </div>
                                            </div>
                                    </div>
                                            <div class="ml-5 p-0" >
                                                
                                          
                                            <div class="mt-1">
                                                
                                                    <div class="collapse mt-2" id="collapseExamplereply{{i.id}}">
                                                        <div style="" class="d-flex justify-content-start">
                                                            <div>
                                                                <a class="btn btn-sm border rounded-circle d-flex align-items-center justify-content-center text-white" style="width: 35px; height:35px; background-color:#546E7A">{{request.user.username|first|upper}}</a>
                                                            </div>
                                                            <div style="width: 90%;">
                                                                <input id="replyform{{i.id}}" type="text" class="form-control ml-2 " style=" font-size:12px; width: 100%; border-top-left-radius: 20px; border-bottom-left-radius:20px;">
                                                            </div>
                                                            <div>
                                                                <button onclick="CommentSubmit('discuss','{{method}}','reply','{{data.id}}','{{x.id}}','replyarea{{i.id}}','{{i.id}}')" class="btn  border ml-3 pt-2 pb-2" style="background-color: #C42D63; color:white; font-size: 12px;  border-top-right-radius: 20px; border-bottom-right-radius:20px;">  <i class="fa fa-paper-plane"></i> Post</button>
                                                            </div>
                                                        </div>
                                                      </div>
                                                      <div class=" mt-1" id="replyarea{{i.id}}">
                                                         {% for j in i.children %}
                                                         <div id="reference{{j.id}}" class="p-2 rounded">

                                                         
                                                         <div  class="d-flex justify-content-between " >
                                                            <div class=' d-flex justify-content-start align-items-center'>
                                                                <div>
                                                                    <img src="/media/{{j.user.profile.avatar}}/" style="width:35px; height:35px; border-radius:50%;">
                                                           
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <p style="font-size:12px;" class="text-muted ml-3 pt-3">Replied By <a href="/profile/{{j.user}}/">{{j.user.profile.first_name}} {{j.user.profile.last_name}}</a>, {{j.created}}</p>
                                                                    <a style="font-size: 12px;" class="ml-4"><i class=" fa fa-comment fa2"></i></a><span style="font-size: 12px;" class="text-muted ml-1"> {{j.replies_name.all.count}} Replies</span>
                                                                   </div>
                                                            </div>
                                                            <div class="mt-2">
                                                                <a onclick="like1('discusscomment','{{j.id}}','discuss_like_comment{{j.id}}','like_count_comment{{j.id}}','dislike_count_comment{{j.id}}','discuss_dislike_comment{{j.id}}')" class="btn btn-sm text-muted pr-1 ml-2   " title="Upvote" data-toggle="tooltip"><i id="discuss_like_comment{{j.id}}" class="fa {% if request.user in j.like.all %} fa3{% else %}fa2 {% endif %} fa-thumbs-up"  style=""></i></a> <span class="text-muted " style="font-size: 14px;" id="like_count_comment{{j.id}}">{{j.like.all.count}}</span>
                                                                <a onclick="dislike1('discusscomment','{{j.id}}','discuss_dislike_comment{{j.id}}','dislike_count_comment{{j.id}}','like_count_comment{{j.id}}','discuss_like_comment{{j.id}}')" class="btn btn-sm text-muted ml-3 pr-1" title="Downvote" data-toggle="tooltip"><i id="discuss_dislike_comment{{j.id}}" class="fa {% if request.user in j.dislike.all %} fa3{%else%}fa2 {% endif %} fa-thumbs-down"></i></a><span class="text-muted " style="font-size: 14px;" id="dislike_count_comment{{j.id}}">{{j.dislike.all.count}}</span>
                                                               
                                                            </div>
                                                            
                                                            </div>
                                                            <div class="ml-5 p-0" style="margin-top:-10px; ">
                                                                <div style="font-size: 12px;" class="ml-1">
                                                                  {{j.body|safe}}
                                                                  </div>
                                                                  <div style="color:#C42D63" class="mt-1">
                                                                    <a data-toggle="collapse" href="#collapseExamplereply{{j.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-reply"></i> Reply</a>
                                                                    <a class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-share-alt"></i> Share</a>
                                                                    <a class="btn btn-sm border" style="font-size: 10px;" title="Report" data-toggle="tooltip"> <i class="fa fa-exclamation-triangle"></i> </a>
                                                                </div>
                                                            </div>
                                                      </div>
                                                            <div class="ml-5 p-0" style="">
                                                              
                                                          
                                                            <div class="mt-1">
                                                                
                                                                    <div class="collapse mt-2" id="collapseExamplereply{{j.id}}">
                                                                        <div style="" class="d-flex justify-content-start">
                                                                            <div>
                                                                                <a class="btn btn-sm border rounded-circle d-flex align-items-center justify-content-center text-white" style="width: 35px; height:35px; background-color:#546E7A">{{request.user.username|first|upper}}</a>
                                                                            </div>
                                                                            <div style="width: 90%;">
                                                                                <input id="childform{{j.id}}"  type="text" class="form-control ml-2 " style=" font-size:12px; width: 100%; border-top-left-radius: 20px; border-bottom-left-radius:20px;"></input>
                                                                            </div>
                                                                            <div>
                                                                                <button onclick="CommentSubmit('discuss','{{method}}','reply1','{{data.id}}','{{x.id}}','childarea{{j.id}}','{{j.id}}')" class="btn  border ml-3 pt-2 pb-2" style="background-color: #C42D63; color:white; font-size: 12px;  border-top-right-radius: 20px; border-bottom-right-radius:20px;">  <i class="fa fa-paper-plane"></i> Post</button>
                                                                            </div>
                                                                        </div>
                                                                      </div>
                                                                      <div id="childarea{{j.id}}">
                                                                      {% for k in j.sorting %}
                                                                      <div id="reference{{k.id}}" class="p-2 rounded">
                                                                      <div class="d-flex justify-content-between " >
                                                                        <div class=' d-flex justify-content-start align-items-center'>
                                                                            <div>
                                                                                <img src="/media/{{k.user.profile.avatar}}/" style="width:35px; height:35px; border-radius:50%;">
                                                                       
                                                                            </div>
                                                                            <div class="d-flex align-items-center">
                                                                                <p style="font-size:12px;" class="text-muted ml-3 pt-3">Replied By <a href="/profile/{{k.user}}/">{{k.user.profile.first_name}} {{k.user.profile.last_name}}</a>, {{k.created}}</p>
                                                                               
                                                                            </div>
                                                                        </div>
                                                                        <div class="mt-2">
                                                                            <a onclick="like1('discusscomment','{{k.id}}','discuss_like_comment{{k.id}}','like_count_comment{{k.id}}','dislike_count_comment{{k.id}}','discuss_dislike_comment{{k.id}}')" class="btn btn-sm text-muted pr-1 ml-2   " title="Upvote" data-toggle="tooltip"><i id="discuss_like_comment{{k.id}}" class="fa {% if request.user in k.like.all %} fa3{% else %}fa2 {% endif %} fa-thumbs-up"  style=""></i></a> <span class="text-muted " style="font-size: 14px;" id="like_count_comment{{k.id}}">{{k.like.all.count}}</span>
                                                                            <a onclick="dislike1('discusscomment','{{k.id}}','discuss_dislike_comment{{k.id}}','dislike_count_comment{{k.id}}','like_count_comment{{k.id}}','discuss_like_comment{{k.id}}')" class="btn btn-sm text-muted ml-3 pr-1" title="Downvote" data-toggle="tooltip"><i id="discuss_dislike_comment{{k.id}}" class="fa {% if request.user in k.dislike.all %} fa3{%else%}fa2 {% endif %} fa-thumbs-down"></i></a><span class="text-muted " style="font-size: 14px;" id="dislike_count_comment{{k.id}}">{{k.dislike.all.count}}</span>
                                                                           
                                                                        </div>
                                                                        </div>
                                                                        <div class="ml-5 p-0" style="margin-top:-10px; ">
                                                                            <div style="font-size: 12px;" class="ml-1">
                                                                              {{k.body|safe}}
                                                                              </div>
                                                                              <div class="mt-1">
                                                                                <div style="color:#C42D63">
                                                                                        <a data-toggle="collapse" href="#collapseExamplereply{{k.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-reply"></i> Reply</a>
                                                                                        <a class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-share-alt"></i> Share</a>
                                                                                        <a class="btn btn-sm border" style="font-size: 10px;" title="Report" data-toggle="tooltip"> <i class="fa fa-exclamation-triangle"></i> </a>
                                                                                    </div>
                                                                                    <div class="collapse mt-2" id="collapseExamplereply{{k.id}}">
                                                                                        <div style="" class="d-flex justify-content-start">
                                                                                            <div>
                                                                                                <a class="btn btn-sm border rounded-circle d-flex align-items-center justify-content-center text-white" style="width: 35px; height:35px; background-color:#546E7A">{{request.user.username|first|upper}}</a>
                                                                                            </div>
                                                                                            <div style="width: 90%;">
                                                                                                <input id="subchildform{{k.id}}" type="text" class="form-control ml-2 " style=" font-size:12px; width: 100%; border-top-left-radius: 20px; border-bottom-left-radius:20px;"></input>
                                                                                            </div>
                                                                                            <div>
                                                                                                <button onclick="CommentSubmit('discuss','{{method}}','reply2','{{data.id}}','{{x.id}}','childarea{{j.id}}','{{j.id}}','{{k.id}}')" class="btn  border ml-3 pt-2 pb-2" style="background-color: #C42D63; color:white; font-size: 12px;  border-top-right-radius: 20px; border-bottom-right-radius:20px;">  <i class="fa fa-paper-plane"></i> Post</button>
                                                                                            </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                        </div>
                                                                    </div>
                                                                      {% endfor %}
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                         {% endfor%}
                                                      </div>

                                                      
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        

    </div>

    
</div>

<section>
    <div class="container-fluid p-0">
        <div class="slider close" style="z-index:1000;">
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center p-2 pr-4" style="background-color: #FAFAFA;">
                    <div class="d-flex align-items-center">
                       <p class="text-muted ml-5 mt-3" style="font-size: 16px; font-weight: 600;"><i class="fa fa-pencil"></i> Write Your Anwsers.</p>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                    <input type="checkbox" class="mr-1 " name="anonymous" value="1" >
                    <p class="text-muted mr-2 pt-3" style="font-size: 12px;">Appear as an Anonymous User</p>
                    <a onclick="submit('{{method}}')" class="btn border p-2 mr-2 text-white" style="font-size: 12px; background-color: #C42D63;"><i class="fa fa-paper-plane"></i> POST</a>
                    <a class="btn border  p-2 cancel mr-2 text-muted" style="font-size: 12px;"><i class="fa fa-times-circle-o"></i> Close</a>
                </div>
                </div>
                <div class="col-12">
                    <div id="code_data" class="" style="width: 100%;"></div>
                 
                    <div class=" p-4" style="width:100%;">
                        <form  id="compose_form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                {{form|crispy}}
                                {{form.media}}
                            
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
        {% if method != 'General' %}
        <div class="slider1 close1" style="z-index:1000;">
            <div class="row d-flex justify-content-between p-3 align-items-center">
                <h5 class="ml-4 pt-2">
                    <i class="fa fa-comment-o"></i> Comment ({{data.quora_comment.all.count}})
                </h5>
                <a class="btn p-2 cancel1 mr-4 text-muted" style="font-size: 14px;"><i class="fa fa-times"></i></a>
            </div>
            <div class="p-3 row" style="width: 100%;">
               
                <div style="width: 100%;" class="d-flex justify-content-start ml-4">
                    <div>
                        <a class="btn btn-sm border rounded-circle d-flex align-items-center justify-content-center text-white" style="width: 35px; height:35px; background-color:#546E7A">{{request.user.username|first|upper}}</a>
                    </div>
                    <div style="width: 90%;">
                        <input id="commentform{{data.id}}" type="text" class="form-control ml-2 " style=" font-size:12px; width: 100%; border-top-left-radius: 20px; border-bottom-left-radius:20px;">
                    </div>
                    <div>
                        <button onclick="CommentSubmit('notgeneral','{{method}}','comment','{{data.id}}','{{data.id}}','quoracommentarea{{data.id}}')" class="btn  border ml-3 pt-2 pb-2" style="background-color: #C42D63; color:white; font-size: 12px;  border-top-right-radius: 20px; border-bottom-right-radius:20px;">  <i class="fa fa-paper-plane"></i> Post</button>
                    </div>
                </div>
                <div id="quoracommentarea{{data.id}}">

                </div>
            </div>
        
    </div>
{% endif %}
    </div>
</section>
{% endblock %}

{% block script %}
<script>
function blink(ref){
    
    
    document.getElementById(ref).classList.add("blinking");
    setTimeout(remove, 5000);
    function remove(){
        document.getElementById(ref).classList.remove("blinking");
}
    
}

   function copyToClipboard(id) {
    var textBox = document.getElementById(id);
    textBox.select();
    document.execCommand("copy");
    var notyf = new Notyf();
    notyf.success('Link Copied!');
    
}

$('.trigger, .cancel').click(function() {
  $('.slider').toggleClass('close');

});

$('.trigger1, .cancel1').click(function() {
  $('.slider1').toggleClass('close1');

});


function submit(method="General"){
    for (var instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
                var temp = CKEDITOR.instances[instance].getData();              
                $.ajax({
                    type: "POST",
                    data: {
                        method:method,
                        title:temp,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        anonymous:$('input[name=anonymous]:checked').val(),
                        id:'{{data.id}}',
                 
                    },
                    url: '/discuss/anwser/quora_submit/',
                    success: function(data) {
                        data = JSON.parse(data);
                        if (data[0] == 'error'){
                            var notyf = new Notyf();
                            notyf.error(data[1]);
                        }
                        else{
                            window.location.reload();
                            
                        }
                    }
                });
            
        
        }

function CommentSubmit(method,type,property,questionid,anwserid,value,commentid="",inputid=""){

    if (property == 'reply'){
        var val = document.getElementById('replyform'+commentid).value;
        var dfg = 'Replied';
    }
    else if(property == 'reply1'){
        var val = document.getElementById('childform'+commentid).value;
        var dfg = 'Replied'; 
    }
    else if(property == 'reply2'){
    var val = document.getElementById('subchildform'+inputid).value;
        var dfg = 'Replied';
    }
    else{
        var val = document.getElementById('commentform'+anwserid).value;
        var dfg = 'Comment';
    }
    $.ajax({
                    type: "POST",
                    data: {
                        method:method,
                        type:type,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        id:questionid,
                        anwserid:anwserid,
                        body:val,
                        property:property,
                        commentid:commentid,
                        inputid:inputid,
               
                    },
                    url: '/discuss/comment/submit/',
                    success: function(data) {
                        data = JSON.parse(data);
                        if (data[0] == 'error'){
                            var notyf = new Notyf();
                            notyf.error(data[1]);
                        }
                        else{
                            
                            var idiv = document.createElement('div');
                            idiv.style="background-color: #EEE; border-radius: 12px; margin-bottom:10px; padding:10px; padding-right:15px;";
                            idiv.class="p-2 pr-4 mb-2 pb-2";
                            idiv.innerHTML = `
                            <div class="d-flex justify-content-between" >
                                    <div class=' d-flex justify-content-start align-items-center'>
                                        <div>
                                            <img src="/media/`+data[1]['profile']+`/" style="width:35px; height:35px; border-radius:50%;">
                                   
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <p style="font-size:12px;" class="text-muted ml-3 pt-3">`+dfg+` By <a href="/profile/`+data[1]['user']+`/">`+data[1]['name']+`</a>, `+data[1]['time']+`</p>
                                            <a style="font-size: 12px;" class="ml-4"><i class=" fa fa-comment fa2"></i></a><span style="font-size: 12px;" class="text-muted ml-1"> `+data[1]['replies']+` Replies</span>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <a onclick="like1('discussanwser','{{x.id}}','discuss_like_anwser{{x.id}}','like_count_anwser{{x.id}}','dislike_count_anwser{{x.id}}','discuss_dislike_anwser{{x.id}}')" class="btn btn-sm text-muted pr-1 ml-2   " title="Upvote" data-toggle="tooltip"><i id="discuss_like_anwser{{x.id}}" class="fa {% if request.user in x.like.all %} fa3{% else %}fa2 {% endif %} fa-thumbs-up"  style=""></i></a> <span class="text-muted " style="font-size: 14px;" id="like_count_anwser{{x.id}}">{{x.like.all.count}}</span>
                                        <a onclick="dislike1('discussanwser','{{x.id}}','discuss_dislike_anwser{{x.id}}','dislike_count_anwser{{x.id}}','like_count_anwser{{x.id}}','discuss_like_anwser{{x.id}}')" class="btn btn-sm text-muted ml-3 pr-1" title="Downvote" data-toggle="tooltip"><i id="discuss_dislike_anwser{{x.id}}" class="fa {% if request.user in x.dislike.all %} fa3{%else%}fa2 {% endif %} fa-thumbs-down"></i></a><span class="text-muted " style="font-size: 14px;" id="dislike_count_anwser{{x.id}}">{{x.dislike.all.count}}</span>
                                       
                                    </div>
                                    </div>
                                    <div class="ml-5 p-0" style="margin-top:-10px; ">
                                        <div style="font-size: 12px;" class="ml-1">
                                          `+data[1]['body']+`
                                          </div>
                                  
                                    <div class="mt-1">
                                        <div style="color:#C42D63">
                                                <a data-toggle="collapse" href="#collapseExamplereply`+data[1]['id']+`" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-reply"></i> Reply</a>
                                                <a class="btn btn-sm border" style="font-size: 10px;"> <i class="fa fa-share-alt"></i> Share</a>
                                                <a class="btn btn-sm border" style="font-size: 10px;" title="Report" data-toggle="tooltip"> <i class="fa fa-exclamation-triangle"></i> </a>
                                            </div>
                                            <div class="collapse mt-2" id="collapseExamplereply`+data[1]['id']+`">
                                                <div style="" class="d-flex justify-content-start">
                                                    <div>
                                                        <a class="btn btn-sm border rounded-circle d-flex align-items-center justify-content-center text-white" style="width: 35px; height:35px; background-color:#546E7A">{{request.user.username|first|upper}}</a>
                                                    </div>
                                                    <div style="width: 90%;">
                                                        <input type="text" class="form-control ml-2 " style=" font-size:12px; width: 100%; border-top-left-radius: 20px; border-bottom-left-radius:20px;">
                                                    </div>
                                                    <div>
                                                        <button class="btn  border ml-3 pt-2 pb-2" style="background-color: #C42D63; color:white; font-size: 12px;  border-top-right-radius: 20px; border-bottom-right-radius:20px;">  <i class="fa fa-paper-plane"></i> Post</button>
                                                    </div>
                                                </div>
                                              </div>
                                    </div>
                                </div>
                            `;
                            var parent = document.getElementById(value);
                            if(property == 'reply2'){
                                parent.appendChild(idiv);
                                
                            }
                            else{
                                parent.insertBefore(idiv, parent.firstChild);
                            }
                            

                        }
                    }
                });
}
</script>


{% endblock %}